:local {
  .dropdown {
    background-color: var(--terra-select-menu-background-color, #fff);
    border-color: var(--terra-select-menu-input-border-color, #dedfe0);
    border-radius: 0 0 3px 3px;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    overflow: auto;
    position: absolute;

    [dir=rtl] & {
      box-shadow: var(--terra-select-menu-box-shadow-rtl, 0 3px 12px -5px rgba(0, 0, 0, 0.25));
    }

    [dir=ltr] & {
      box-shadow: var(--terra-select-menu-box-shadow-ltr, 0 3px 12px -5px rgba(0, 0, 0, 0.25));
    }
  }

  .is-above {
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    border-top: 1px;

    [dir=rtl] & {
      box-shadow: 0 -3px 12px -5px rgba(0, 0, 0, 0.25);;
    }

    [dir=ltr] & {
      box-shadow: 0 -3px 12px -5px rgba(0, 0, 0, 0.25);;
    }
  }
}
