@import '~terra-mixins';

:local {
  .select {
    background-color: var(--terra-select-background-color, #fff);
    color: var(--terra-select-color, #1c1f21);
    display: flex;
    font-size: var(--terra-select-font-size, 1.143rem);
    padding: var(--terra-select-padding, 0);

    &:focus {
      outline: none;
    }
  }

  .default {
    border: var(--terra-select-default-border, 1px solid #dedfe0);
    border-radius: var(--terra-select-border-radius, 3px);
    cursor: pointer;

    > .display {
      line-height: 1.75;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:focus {
      border-color: var(--terra-select-focus-border-color, #4cb2e9);
      box-shadow: var(--terra-select-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
    }

    &.is-open {
      box-shadow: none;
    }
  }

  .display {
    display: flex;
    flex-grow: 1;
    padding-left: var(--terra-select-display-padding-left, 0.42857rem);
  }

  .toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    padding: var(--terra-select-toggle-padding, 0 0.42857rem);
  }

  .tags {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .arrow-icon {
    background: var(--terra-select-arrow-icon, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--terra-select-arrow-icon-height, 0.715rem);
    width: var(--terra-select-arrow-icon-width, 1rem);
  }

  .input {
    border: 0;
    flex-grow: 1;
    font-size: var(--terra-select-font-size, 1.143rem);
    line-height: 1.375;
    outline: none;
    padding: 0.21428571428571427rem 0 0;

    &:focus {
      outline: none;
    }
  }

  .tag,
  .combobox,
  .multiple {
    > .display {
      border: var(--terra-select-split-border, 1px solid #dedfe0);
      border-bottom-left-radius: var(--terra-select-border-radius, 3px);
      border-top-left-radius: var(--terra-select-border-radius, 3px);
      padding-bottom: 0.21428571428571427rem;
    }

    > .toggle {
      border: var(--terra-select-split-toggle-border, 1px solid #dedfe0);
      border-bottom-right-radius: var(--terra-select-border-radius, 3px);
      border-left: 0;
      border-top-right-radius: var(--terra-select-border-radius, 3px);
    }

    &:focus {
      > .display {
        border-color: var(--terra-select-focus-border-color, #4cb2e9);
        box-shadow: var(--terra-select-focus-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25));
      }
    }

    &.is-open {
      > .display {
        border-color: var(--terra-select-focus-border-color, #4cb2e9);
        box-shadow: none;
      }
    }
  }
}

// @import '~terra-mixins';
//
// :local {
//   .select {
//     background-color: var(--terra-select-background-color, #fff);
//     background-image: var(--terra-select-focus-animation-background, none);
//     background-position: 0 100%;
//     background-repeat: no-repeat;
//     background-size: var(--terra-select-focus-background-start, 0 0);
//     border-color: var(--terra-select-border-color, #dedfe0);
//     border-radius: var(--terra-select-border-radius, 3px);
//     border-style: solid;
//     border-width: 1px;
//     color: var(--terra-select-text-color, #1c1f21);
//     cursor: pointer;
//     display: flex;
//     font-size: var(--terra-select-font-size, 1.143rem);
//     padding: var(--terra-select-padding, 0);
//     transition-duration: var(--terra-select-focus-transition-duration, 0s);
//     transition-property: background-size;
//     transition-timing-function: var(--terra-select-focus-transition-timing, ease);
//     width: 100%;
//
//     &:focus {
//       background-size: var(--terra-select-focus-animation-size, 0 0);
//       border-color: var(--terra-select-focus-border-color, #4cb2e9);
//       outline: none;
//
//       [dir=rtl] & {
//         box-shadow: var(--terra-select-focus-box-shadow-rtl, 0 0 0 2px rgba(76, 178, 233, 0.5));
//       }
//
//       [dir=ltr] & {
//         box-shadow: var(--terra-select-focus-box-shadow-ltr, 0 0 0 2px rgba(76, 178, 233, 0.5));
//       }
//     }
//   }
//
//   .open.default {
//     border: 1px solid #4cb2e9;
//     box-shadow: none;
//   }
//
//   .open.tag,
//   .open.combobox,
//   .open.multiple {
//     > .display {
//       border: 1px solid #4cb2e9;
//       box-shadow: none;
//     }
//
//     > .toggle {
//       border-left: 0;
//     }
//   }
//
//   .multiple,
//   .tag,
//   .combobox {
//     > .toggle {
//       border-left: 1px solid #dedfe0;
//     }
//   }
//
//
//   .is-disabled {
//     background-color: var(--terra-select-disabled-background-color, rgba(111, 116, 119, 0.05));
//     border-color: var(--terra-select-disabled-border-color, #dedfe0);
//     color: var(--terra-select-disabled-color, rgba(0, 0, 0, 0.25));
//     cursor: default;
//
//     &:focus {
//       background-size: 0 0;
//       border-color: var(--terra-select-disabled-border-color, #dedfe0);
//
//       [dir=rtl] &,
//       [dir=ltr] & {
//         box-shadow: none;
//       }
//     }
//
//     &:hover {
//       border-color: var(--terra-select-disabled-border-color, #dedfe0);
//     }
//   }
//
//   .is-disabled .select-arrow {
//     color: var(--terra-select-disabled-arrow-color, #b2b5b6);
//   }
//
//   .is-disabled .display {
//     color: var(--terra-select-disabled-font-color, #b2b5b6);
//   }
//
//   .invalid {
//     background-image: var(--terra-select-invalid-focus-animation-background, none);
//     border-color: var(--terra-select-invalid-border-color, #dedfe0);
//
//     &:hover {
//       border-color: var(--terra-select-invalid-hover-border-color, #dedfe0);
//     }
//
//     &.open,
//     &:focus {
//       background-size: var(--terra-select-invalid-focus-animation-size, 0 0);
//       border-color: var(--terra-select-invalid-focus-border-color, #4cb2e9);
//
//       [dir=rtl] & {
//         box-shadow: var(--terra-select-invalid-focus-box-shadow-rtl, 0 0 7px 4px rgba(76, 178, 233, 0.35), 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 1px 0 #fff);
//       }
//
//       [dir=ltr] & {
//         box-shadow: var(--terra-select-invalid-focus-box-shadow-ltr, 0 0 7px 4px rgba(76, 178, 233, 0.35), 0 0 1px 3px rgba(76, 178, 233, 0.5), 0 0 1px 0 #fff);
//       }
//     }
//   }
//
//   .invalid .select-arrow {
//     color: var(--terra-select-invalid-arrow-color, auto);
//   }
//
//   .select-arrow {
//     background: var(--terra-select-arrow, inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>'));
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     color: var(--terra-select-arrow-color, auto);
//     height: var(--terra-select-arrow-height, 0.715rem);
//     margin: var(--terra-select-arrow-margin, 0.286rem 0);
//     width: var(--terra-select-arrow-width, 1rem);
//   }
//
//   .toggle {
//     align-items: center;
//     display: flex;
//     margin-left: auto;
//     padding: 0 0.429rem;
//   }
//
//   .default-option,
//   .display.default-option {
//     color: var(--terra-select-default-option-color, #bcbfc0);
//     font-style: var(--terra-select-default-option-font-style, normal);
//   }
//
//   .display {
//     display: flex;
//     flex-flow: wrap;
//     flex-grow: 1;
//     margin: 0;
//     padding: 0 0 0.3572rem 0.429rem;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }
//
//   .default > .display {
//     line-height: 1.75;
//     padding: 0 0 0 0.429rem;;
//   }
//
//   .search {
//     border: 0;
//     flex-grow: 1;
//     font-size: var(--terra-select-font-size, 1.143rem);
//     margin-top: 0.3572rem;
//     outline: none;
//     padding: 0;
//
//     &:focus {
//       border: 0;
//       outline: none;
//     }
//   }
// }
